<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.humidity-daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/smsms/.nvm/versions/node/v21.6.2/bin/node</string>
        <string>/Users/smsms/japes/humidity-daemon/dist/index.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/smsms/japes/humidity-daemon</string>
    <key>StandardOutPath</key>
    <string>/Users/smsms/japes/humidity-daemon/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/smsms/japes/humidity-daemon/daemon.error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>
</dict>
</plist>